BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clock" SITE "C1" ;
LOCATE COMP "led_driver[0]" SITE "N13" ;
LOCATE COMP "led_driver[1]" SITE "M12" ;
LOCATE COMP "led_driver[2]" SITE "P12" ;
LOCATE COMP "led_driver[3]" SITE "M11" ;
LOCATE COMP "led_driver[4]" SITE "P11" ;
LOCATE COMP "led_driver[5]" SITE "N10" ;
LOCATE COMP "led_driver[6]" SITE "N9" ;
LOCATE COMP "led_driver[7]" SITE "P9" ;
LOCATE COMP "reset" SITE "L14" ;
IOBUF PORT "clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_driver[7]" IO_TYPE=LVCMOS33 ;
